<!DOCTYPE html>
<html>
{{> head}}

<body class="sub_page">
  <div class="hero_area">
    {{> nav active='cart'}}
  </div>
  <!-- inner page section -->
  <section class="inner_page_head">
    <div class="container_fuild">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <h3>Thank you for your purchase!</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{>footer }}
</body>

</html>
